body {
    background-color: black;
}

.post {
    background: white;
    width: 500px;
    height: auto;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

.post-head {
    display: flex;
    justify-content: space-between;
    font-size: small;
}

.icon-head1 {
    display: flex;
}

.icon-head1 img {
    padding: 10%;
}

.icon-head1 p {
    margin: 10%;
}

.icon-head2 img {
    padding-right: 20px;
    padding-top: 8px;
    margin: 5px;
}

.post-img img {
    width: 100%;
}

.post-body {
    display: flex;
    justify-content: space-between;
}

.icon-body1 img {
    padding-left: 10px;
    padding-top: 10px;
}

.icon-body2 img {
    padding-right: 20px;
    padding-top: 10px;
}

.post-text {
    padding: 12px;
    padding-top: 0%;
    font-size: small;
    text-align: justify;
}